@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #FEDCC8;
    margin: 0;
}

.parallax,
.out-box {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    position: relative;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, 0);
}

/* 隐藏滚动条，但仍然可以滚动 */
.out-box {
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    /* Firefox */
}

.parallax::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.out-box::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
}

img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    /* 禁止图片拖拽 */
    -webkit-user-drag: none;
}

.parallax__cover {
    background: #2D112B;
    /* display: block; */
    position: relative;
    width: 100%;
    /* top: 99.5%; */
    top: 0;
    left: 0;
    /* transform: translate(0,-50%); */
    right: 0;
    min-height: 100vh;
    color: #fff;
    padding-top: 1%;
}

.parallax__header {
    position: absolute;
    top: 0;
    left: 0;
    /* background: pink; */
    /* height: 5px; */
    width: 100%;
}

.time {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 1%;
    font-size: 60px;
    color: #fff;
}