.list{
    width: 666px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    margin: auto    ;
    margin-bottom: 55px;
    background: #f9f9f9;
}
.list a{
    display: inline-block;
    text-align: center;
    margin: -2px;
    width: 333px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}
.list .change{
    background: url(../img/tabbg.png);
    width: 334px;
    height: 42px;
}
.page{
    margin-bottom: 60px;
}
.page a{
    display: inline-block;
    color: #fff;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.left{
    background: #d8d8d8;
    width: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.right{
    background: #d8d8d8;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.numb{
    background: #b50900;
    width: 35px;
}
.item{
    width: 480px;
    height: 200px;
    color: #757678;
    background: #f2f2f2;
    margin-right: 20px;
    margin-bottom: 35px;
}
.item .text{
    width: 250px;
    padding-top: 30px;
}
.item h1{
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}
.item h2{
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 30px;
}
.item p{
    font-size: 14px;
    max-lines: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}