.team-top{
    margin-bottom: 35px;
}
.team-top .fl{
    width: 310px;
    height: 220px;
}
.team-top .fr{
    width: 645px;
    height: 220px;
    padding: 20px 40px 0;
}
.main-title{
    display: inline-block;
    line-height: 32px;
    border-bottom: 2px solid #d43b33;
}
.team-top .fr{
    background-color: #fafafa;
}
.team-top .fr p{
    margin-top: 10px;
    line-height: 25px;
    color: #696c6e;
}
.bottom{
    background: #f7f7f7;
}
.team-bottom{
    border-top: 1px solid #e6e6e6;
}
.item{
    background: #fbfbfb;
    width: 300px;
    height: 250px;
    text-align: center;
    margin-right: 15px;
}
.item img{
    margin-bottom: 10px;
    height: 170px;
    width: 300px;
}
.item a{
    color: #000;
}
.page{
    padding: 20px 210px 75px;
}
.page a{
    color: #fff;
}
.page div{
    width: 285px;
    height: 30px;
    background: #e5e5e5;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.page div:hover{
    background: #d43b33;
}
.page .fl{
    text-align: right;
    padding-right: 10px;
}
.page .fr{
    text-align: left;
    padding-left: 10px;
    background: #d43b33;
}